 
   
<div class="m-content">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Nova entrada
              </h3>
            </div>
          </div>
        </div>
        
        <%= form_with(model: stocking, local: true, html: {class: "m-form"}) do |form| %> 
          <% if stocking.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(stocking.errors.count, "error") %> prohibited this sale from being saved:</h2>

              <ul>
              <% stocking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>       
          <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group">
                <label>
                  Produto:
                </label>
                <%= form.select(:client_id, Product.all.collect {|u| [u.name, u.id]}, {prompt: 'Selecione o produto'}, {class: "form-control", required: true}) %>
              </div>
            </div>
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group">
                <label>
                  Numeracao:
                </label>
                <%= form.text_field :numbering_id, id: :stocking_numbering_id, class: "form-control", placeholder: "Numeracao" %>
              </div>
            </div>
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group">
                <label>
                  Entrada:
                </label>
                <%= form.text_field :entry, id: :stocking_entry, class: "form-control", placeholder: "Entrada" %>
              </div>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
              <button type="submit" class="btn btn-primary">
                Salvar
              </button>
              <%= link_to sales_path, class: "btn btn-secondary" do %>
                Cancelar
              <% end %>
            </div>
          </div>
        <% end %>  
       </div>
    </div>
  </div>
</div>