 <style type="text/css">
    .rolagem {
    height: 180px;
    overflow: auto;
    padding: 1px 1px 1px 1px;
  }
 </style>
 
<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__body">
    
      <table class="table m-table m-table--head-bg-success">
          <thead>
            <tr>
              <th width="10">
                #
              </th>
              <th width="300">
                Nome
              </th>
              <th width="100" align="center">
                Unitario
              </th>
              <th width="100" align="center">
                Quantidade
              </th>
              <th width="100">
                Total
              </th>
            </tr>
          </thead>
        </table>
      <div class="m-section__content rolagem">
        <table class="table m-table m-table--head-bg-success">
          <tbody> 
            <% sale_products.each do |sp| %>
              <tr>
                <td width="10"><%= sp.id %></td>
                <td width="300"><%= sp.product.name %></td>
                <td width="100" align="center"><%= number_to_currency(sp.product.price, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                <td width="100" align="center"><%= sp.quantity %></td>
                <td width="100" align="center"><%= number_to_currency(sp.total, unit: "R$ ", separator: ",", delimiter: ".") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% total = SaleProduct.where("sale_id = #{params[:id]}").sum(:total) %>
      <div style="text-align: right"><h3 style="margin-bottom: -10px;margin-top: 15px">Total: <%= number_to_currency(total, unit: "R$ ", separator: ",", delimiter: ".") %></h3></div>
  </div>
</div> 
 