<div class="m-section">
  <div class="m-section__content">
    <table class="table m-table m-table--head-bg-success">
      <thead>
        <tr>
          <th width="100">
            #
          </th>
          <th width="300">
            Produto
          </th>
          <th width="100">
            Preco
          </th>
          <th width="100">
            Stock
          </th>
          <th width="100">
            Marca
          </th>
          <th width="100">
            Categoria
          </th>
        </tr>
      </thead>
      <tbody> 
        <% @products.each do |product| %>
          <tr onMouseOver="javascript:this.style.backgroundColor='#949494'"
              onMouseOut="javascript:this.style.backgroundColor=''"
              onClick="teste(<%=product.id%>, '<%=product.name%>', <%=product.price%>)">
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td>0</td>
            <td><%= product.brand_name %></td>
            <td><%= product.category_name %></td>
          </tr>
        <% end %>
      </tbody> 
    </table>
  </div>
</div>
